<h1>Garage Sale!</h1>
<h3>I am selling the following items:</h3>
<ul>
  <li>Sofa - $20</li>
  <li>Bed - $15</li>
  <li>Television - $10</li>
  <li>Blender - $5</li>
  <li>Microwave - $12</li>
  <li>Posters - $2 each</li>
  <li>Clothes - $5 each</li>
  <li>Fridge - $30</li>
  <li>Scooter - $8</li>
</ul>
